{% extends "twiglet/showcases/base_showcase_popup.html" %}

{% block title %}Code View{% endblock %}

{% block bodycontent %}

<div class="helpmessage">
<ul>

<li>Left click on a directory to open / close</li>
<li>Left click on a file to see a formatted view of the code</li>
<li>Right click on a directory to download that sub tree as a zip file</li>
<li>Right click on a file to download the file, or view the file without formatting</li>

</ul>

To build the translated Java code you will need the CS2JLibrary project.  This is freely distributed with the <a href="{% url webapp.views.download %}">CS2J trial</a>.
</div>

{% endblock bodycontent %}

