{% extends "twiglet/showcases/base_showcase.html" %}

{% block title %}Case Study: Rustici Software{%endblock %}

{% block showcasedescription %}
<h2>History</h2>

The first version of CS2J was developed by Rustici Software. Rustici Software sells its SCORM Engine component to Learning Management System software vendors. While most of these clients use the Microsoft platform, many of their customers also run on Linux or other non-Microsoft platforms. Since the SCORM Engine is an integral component in their customers’ software, tight integration, transparent source code access, optimal performance and unencumbered distribution are all very important. CS2J allows Rustici Software to:
 <ul>
    
<li>Maintain a single set of C# source code for their application but support deployment on any platform</li>
<li>Produce professional, clean and accurate Java code that mimics the style of the original C# code</li>
<li>Continue to develop using Microsoft Visual Studio and the rest of their existing development environment</li>
<li>Provide full source code to their customers on both the .Net and Java platforms</li>
<li>Customize the translation from C# to Java to meet their application’s particular needs</li>
<li>Optimize the resultant Java source code to achieve highly performant solutions (and include those optimizations in future conversions)</li>
<li>Automatically run source code conversion in their nightly build script</li>
<li>Distribute their application with no per server royalties on the translated code (as other vendors expect)</li>
</ul>
</div>

{% endblock %}