<!DOCTYPE html>
<!-- <!DOCTYPE HTML PUBLIC "-//IETF//DTD HTML//EN"> -->
<html>

<head>

{% block loadscriptfiles %}{% endblock%}

<title>{% block title %}Twiglet Software{% endblock %}</title>

{% block loadstylefiles %}{% endblock%}

{% block jquery %} {% endblock %}

{% block analytics %} 
<script type="text/javascript">

  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-25770469-1']);
  _gaq.push(['_setDomainName', 'twigletsoftware.com']);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();

</script>
{% endblock analytics %}
</head>

<body>

{% block body %}
Insert body here
{% endblock %}

</body>
</html>
