{% extends "twiglet/base_frame_plain.html" %}

{% block loadstylefiles %}
{% if formatting == 'pretty' %}
<link rel="stylesheet" type="text/css" media="all" href="/static/twiglet/css/main.css"/>
<link rel="stylesheet" type="text/css" media="all" href="/static/twiglet/css/pygments.css"/>
{% endif %}
{% endblock %}

{% block title %}Display {{ fname }}{% endblock title %}

{% block body %}

{% if formatting == 'pretty' %}

{{ display|safe }}

{% else %}
<pre>

{{ display }}

</pre>
{% endif %}

{% endblock body %}


