{% extends "twiglet/base_generic.html" %}

{% block title %}Download CS2J{% endblock title %}

{% block body %}

<div class="standoutblock kgcontainer">
<div class="leftcolumntwo">
   <h2 class="bold" align="center">Download the latest CS2J Release</h2>

CS2J is a windows executable.  It runs on other platforms if you first install <a href="http://www.go-mono.com/mono-downloads/download.html">Mono</a>.
Download the latest version of CS2J and try it on your own code.  
  <div align="center">
  <div class="button" target="{% url webapp.views.download_thanks %}">
  <div class="buttonfiller">
    Download CS2J
  </div>
  </div>
  </div>
</p>
</div>

<div class="rightcolumntwo">
   <h2 class="bold" align="center">Go to the Source (code)</h2>

The code to CS2J and CS2JLibrary are available from github. Come and help us make CS2J better. You can browse or clone the current contents of the git repository using the <a href="https://github.com/twiglet/cs2j">web interface</a>.
<p>
To build the code on windows you should install .Net framework 4.  To build the code on other platforms you should install <a href="http://www.go-mono.com/mono-downloads/download.html">Mono</a> and <a href="http://ant.apache.org">Ant</a>.
<p>  
</div>
</div>

{% endblock body %}

{% block bottom %}
{% endblock bottom %}


