{% extends "twiglet/base_generic.html" %}

{% block loadscriptfiles %}
<script type="text/javascript" src="/static/twiglet/js/jquery.validate-1.8.1.min.js"></script>
{% endblock%}

{% block jquery %}
<script>
  $(document).ready(function(){
    $("label:not(.error)").append(":");
    $("#downloadForm").validate();
  });
</script>
{% endblock %}

{% block title %}Download a trial{% endblock title %}

{% block body %}

<div class="kgcontainer">
<div class="leftcolumntwo standoutblock">

Download a trial version of CS2J and try it on your own code.  The
trial version has three restrictions, compared to the full version:
<ul>
  <li>It just shows the first 120 lines of each class.</li>
  <li>Each translation template is digitally signed.  You can add and
  / or modify up to five of the translation templates.</li>
  <li>The trial version is usually a little out of date, and is
  missing features and bug fixes from the full version</li>
</ul>
The trial version will give you a good idea of the
quality of translation you can expect from the full CS2J product and
allows you to play with the translation templates.
<p>
To download the trial version just provide your name, email
address and (optionally) a short description of your translation
needs, then the download will start straight away.
</div>

<div class="rightcolumntwo">

<form class="cmxform" id="downloadForm" method="post" action="">
  {% csrf_token %}
  <fieldset>
    <label for="cname">Name<sup>*</sup></label>
     {{ form.name }}
     {% for error in form.name.errors %}
        <label for="id_name" generated="true" class="error">{{ error|escape }}</label>
     {% endfor %}
 </p>
   <p>
     <label for="cemail">Email<sup>*</sup></label>
     {{ form.email }}
     {% for error in form.email.errors %}
        <label for="id_email" generated="true" class="error">{{ error|escape }}</label>
     {% endfor %}
 </p>
   <p>
     <label for="cphone">Phone</label>
     {{ form.phone }}
     {% for error in form.phone.errors %}
        <label for="id_phone" generated="true" class="error">{{ error|escape }}</label>
     {% endfor %}
 </p>
   <p>
    <label for="ccomment">Your comment</label><br />
     {{ form.comment }}
     {% for error in form.comment.errors %}
        <label for="id_comment" generated="true" class="error">{{ error|escape }}</label>
     {% endfor %}
     * required fields
  </p>
   <p>
     <input class="submit button" style="color:white" type="submit" value="Download Trial"/>
   </p>
 </fieldset>
</form>

</div>
</div>

{% endblock body %}

{% block bottom %}
{% endblock bottom %}


