{% extends "twiglet/base_generic.html" %}

{% block headmisc %} 
<meta name="google-site-verification" content="NbzRLYfmbSujWzMjIp6T8k70nqzYmKwMoICBqkGdTds" />
{% endblock headmisc %}

{% block body %}

<div class="standoutblock">

<div class="kgcontainer padtext">

  CS2J is the most advanced C# to Java conversion tool available
  today, and it is open source!.  Whatever the size of your
  application, CS2J can help you produce an effective, maintainable,
  accurate conversion.
<p>
  
<div align="center">
  <div class="button" target="{% url webapp.views.how %}">
  <div class="buttonfiller">
    how it works
  </div>
  </div>

  <div class="button" target="{% url webapp.views.features %}">
  <div class="buttonfiller">
    summary of supported C# features
  </div>
  </div>

  <div class="button" target="{% url webapp.views.showcase %}">
  <div class="buttonfiller">
    examples and case studies
  </div>
  </div>

  <div class="button" target="{% url webapp.views.cs2jdocumentation %}">
  <div class="buttonfiller">
    user guide
  </div>
  </div>
</div>

<p></p>
<ul>
  <li> CS2J produces good looking, maintainable Java software from your C# source code.
  </li>
  <li> It uses a powerful, extensible template system to translate .NET Framework
  and 3rd party library calls.
  </li>
  <li> It is a command-line tool which can be easily incorporated into your
  existing development workflow.
  </li>
  <li> CS2J has a permissive MIT / X Windows system license, you can use it
  to translate both open source and proprietary C# code. 
  </li>

</ul>
You can get help at the <a href="{% url webapp.views.forums %}">User Forums</a> or by 
<a href="{% url webapp.views.contact %}">contacting</a> us directly.

</div>
</div>
{% endblock body %}
