{% extends "twiglet/base_generic.html" %}

{% block headmisc %} 
<meta name="google-site-verification" content="NbzRLYfmbSujWzMjIp6T8k70nqzYmKwMoICBqkGdTds" />
{% endblock headmisc %}

{% block body %}

<div class="block_header">

  We are your C# to Java conversion experts.  Whatever the size of
  your application we can help you produce a cost-effective, maintainable, 
  accurate conversion.

</div>

<div class="standoutblock">

<div class="kgcontainer">
<div class="leftcolumntwo">
  
  <h2 class="bold" align="center"> CS2J </h3>

  <p class="bold">CS2J is the most advanced C# to Java conversion tool
  available today.
  </p>
  
<div align="center">
  <div class="button" target="{% url webapp.views.how %}">
  <div class="buttonfiller">
    how it works
  </div>
  </div>

  <div class="button" target="{% url webapp.views.features %}">
  <div class="buttonfiller">
    summary of supported C# features
  </div>
  </div>

  <div class="button" target="{% url webapp.views.showcase %}">
  <div class="buttonfiller">
    examples and case studies
  </div>
  </div>

  <div class="button" target="{% url webapp.views.cs2jdocumentation %}">
  <div class="buttonfiller">
    user guide
  </div>
  </div>
  </div>

<ul>
  <li> CS2J produces good looking, maintainable Java software from your C# source code.
  </li>
  <li> It uses a powerful, extensible template system to translate .NET Framework
  and 3rd party library calls.
  </li>
  <li> It is a command-line tool which can be easily incorporated into your
  existing development workflow.
  </li>
  <li> We offer flexible licenses for all sizes of
  project and for all translation needs. 
  </li>

</ul>

</div>

<div class="rightcolumntwo">

  <h2 class="bold" align="center">  </h3>

  <p class="bold">We can help
  </p>

<ul>

  <li>
  We can advise on all aspects of your conversion project, including:
     <ul>
       <li>Extending CS2J to improve its translation of your
  application.</li>
       <li>Re-architecting your application to simplify the translation.</li>
       <li>Tools to evaluate translation coverage.</li>
       <li>Incorporating CS2J into your development workflow.</li>
       <li>Testing framework to ensure the translation is correct.</li>
      </ul>
  </li>

  <li>If you want to continue developing your application in C#, but
  generate updated Java versions automatically we can help you automate that process.
  </li>
 <li> We will do a one-off conversion of open source software for free, just ask!
  </li>
</ul>
</div>
</div>

</div>

{% endblock body %}
