{% extends "twiglet/base_frame_plain.html" %}

{% block title %}Twiglet Software's Privacy Policy{% endblock %}

{% block body %}
<div>

           <h1>Twiglet Software's Privacy Policy</h1>

            <p>Your privacy is important to Twiglet Software.  This
            privacy statement provides information about the personal
            information that Twiglet Software collects, and the ways in which
            Twiglet Software uses that personal information.

            <h2>About this privacy statement</h2>

            <p>This privacy statement was made using a
               Contractology <a href="http://www.freenetlaw.com/free-privacy-statement/">privacy
               statement</a> document available at www.freenetlaw.com.
               You can purchase a wide range of commercial legal
               documents via
               the <a href="http://www.contractology.com">Contractology</a>
               website.
            </p>
            <h2>Personal information collection</h2>

            <p>Twiglet Software may collect and use the following kinds of personal information: </p>
            <ul>
                <li>We collect name and mail address information when you download a trial version of our software so that we can
                    follow up later.  You will not receive further unsolicited emails other than this follow up message. </li>
                <li>We collect name and mail address information when you use the contact form to ask for information.
                    You will not receive any further marketing other than a reply to your request. </li>
            </ul>

             <h2>Information about Cookies and about Google Analytics</h2>

             <p>Cookies are very small text files stored on your
             computer by your web browser.  
</p>
<p>This website uses Google
             Analytics, a web analytics service provided by Google,
             Inc. (<a href="http://www.google.com/intl/en/analytics/privacyoverview.html">Google Privacy Policies</a>) which
             uses javascript and cookies to help us analyze how
             visitors use the site.
</p>

<p> We also use cookies to improve ease of use of this site. For example, to remember the layout of pages between visits.
</p>
<p>
You may refuse the use of cookies by selecting the appropriate
settings on your browser. If cookies are refused, you will still be
able to use our website, and anonymous data will still be collected in
our internal transaction logs. By accepting cookies, you consent to
the processing of data in the manner and for the purposes set out in
this privacy notice.
</p>

            <h2>Using personal information</h2>

            <p>Twiglet Software may use your personal information to: </p>
            <ul>
                <li>personalize the website for you;</li>
                <li>make a one off follow up up email following a trial download.</li>
            </ul>

            <p>Where Twiglet Software discloses your personal
            information to its agents or sub-contractors for these
            purposes, the agent or sub-contractor in question will be
            obligated to use that personal information in accordance
            with the terms of this privacy statement. </p>

            <p>In addition to the disclosures reasonably necessary for
            the purposes identified elsewhere above, Twiglet Software may
            disclose your personal information to the extent that it
            is required to do so by law, in connection with any legal
            proceedings or prospective legal proceedings, and in order
            to establish, exercise or defend its legal rights.</p>

            <h2>Securing your data</h2>

            <p>Twiglet Software will take reasonable technical and organisational precautions to prevent the loss, misuse or alteration of your personal information. </p>

            <h2>Controlling your personal information</h2>

            <p>
              If you have submitted individually identifiable
              information through Twiglet Software's Web site
              and would like that
              information deleted from our records, please contact us
              at <a href="mailto:privacy@twigletsoftware.com">privacy@twigletsoftware.com</a>. 
            </p>

            <h2>Cross-border data transfers</h2>

            <p>Information that Twiglet Software collects may be
            stored and processed in and transferred between any of the
            countries in which Twiglet Software operates to enable the
            use of the information in accordance with this privacy
            policy.</p>

            <p>You agree to such cross-border transfers of personal information.</p>

            <h2>Updating this statement</h2>

            <p>Twiglet Software may update this privacy policy by posting a new version on this website.  </p>

            <p>You should check this page occasionally to ensure you are familiar with any changes.</p>

            <h2>Other websites</h2>

            <p>This website contains links to other websites.</p>

            <p>Twiglet Software is not responsible for the privacy policies or practices of any third party.</p>


            <h2>Contact Twiglet Software</h2>

            <p>If you have any questions about this privacy policy or Twiglet Software's treatment of your personal information, please write:</p>

            <ul>
                <li>by email to <a href="mailto:privacy@twigletsoftware.com">privacy@twigletsoftware.com</a></li>
            </ul>

            <p>
              Last Updated: 16-Dec-2011.

            </p>

</div>
{% endblock body %}
