{% extends "twiglet/base_generic.html" %}

{% block body %}

<!-- <div class="block_header">
  Here goes header.
</div>
-->
<div id="showcase">
<div class="kgcontainer">
<div class="leftcolumntwo">
<div class="padit">
  <div class="button" target="{% url webapp.views.showcase_helloworld %}">
    <div class="buttonfiller">
      A simple problem with an over-engineered solution. This FizzBuzz program
      shows off a lot of C# features. See how CS2J effortlessly takes care of 
      dozens of details and produces natural looking Java source code.
    </div>
  </div>
</div>
</div>
</div>

<div class="kgcontainer">
<div class="rightcolumntwo">
<div class="padit">
  <div class="button" target="{% url webapp.views.showcase_showoff %}">
    <div class="buttonfiller">
       <em>Coming:</em> An example program showing off many of CS2J's tricks.
    </div>
  </div>
</div>
</div>
</div>

<div class="kgcontainer">
<div class="leftcolumntwo">
<div class="padit">
  <div class="button" target="{% url webapp.views.showcase_rustici %}">
    <div class="buttonfiller">
  Case Study: Rustici Software's SCORM Engine and SCORM Cloud products are translated by CS2J.
    </div>
  </div>
</div>
</div>
</div>

<div class="kgcontainer">
<div class="rightcolumntwo">
<div class="padit">
  <div class="button" target="{% url webapp.views.showcase_generics %}">
    <div class="buttonfiller">
       Check out our translations of generic classes and collections while converting regular expressions to deterministic finite automata 
    </div>
  </div>
</div>
</div>
</div>

<div class="kgcontainer">
<div class="leftcolumntwo">
<div class="padit">
  <div class="button" target="{% url webapp.views.showcase_delegates %}">
    <div class="buttonfiller">
       See how CS2J supports Delegates and Events.
    </div>
  </div>
</div>
</div>
</div>
</div>

<div class="block_bottom checkback">
  Check back later for more showcases and more case studies.
</div>
  

{% endblock body %}
